<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center dashboard-container mt-5 py-2">
                <div class="d-flex w-50 justify-content-evenly">
                    <div class="col-3 dashboard-section d-flex justify-content-center align-items-center" [routerLink]="['/private/usuarios']" id="usuarios">
                        <h4 class="text-center">Usuarios</h4>
                    </div>
                    <div class="col-3 dashboard-section d-flex justify-content-center align-items-center" [routerLink]="['/private/componer']" id="componer">
                        <h4>Componer</h4>
                    </div>
                    <div class="col-3 dashboard-section d-flex justify-content-center align-items-center" [routerLink]="['/private/datos']" id="datos">
                        <h4>Datos</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
